در این برنامه اطلاعات قسمت دیدبان بازار سایت بورس تهران گرفته شده و در یک فایل اکسل ذخیره می گردد.

In [1]:
import pandas as pd
import requests

In [2]:
url='http://www.tsetmc.com/tsev2/data/MarketWatchPlus.aspx'

In [3]:
r=requests.get(url)

In [4]:
main_text=r.text
csvs=main_text.split('@')
csv=csvs[2]
rows=csv.split(';')
row=[r.split(',') for r in rows]

In [5]:
df=pd.DataFrame(row)

In [6]:
# filter only stocks ticker
stock_keys=['300','303','305','309','380']
stock_filt=df[22].isin(stock_keys)
df=df.loc[stock_filt]

In [7]:
# renaming columns name
col_rename={
    0:'tse_url',
    1:'en_ticker',
    2:'ticker',
    3:'name',
    5:'open',
    6:'price',
    7:'last',
    8:'tedad',
    9:'vol',
    10:'val',
    11:'day range_low',
    12:'day range_high',
    13:'yesterday',
    14:'eps',
    15:'base_vol',
    17:'bazar_number',
    18:'group_code',
    19:'max_range',
    20:'min_range',
    21:'tedade_kole_saham',
    22:'stock_code', 
}
df=df.rename(columns=col_rename)

In [8]:
# group_code_list=df['group_code'].unique()

In [9]:
# calculating p/e
df['price']=df['price'].astype(int)
# because some 'eps' are not number we use to_numeric and coerce
df['eps']=pd.to_numeric(df['eps'],errors='coerce')
# fill 'eps' that  are not number with zero
df['eps']=df['eps'].fillna(0)
df['eps']=df['eps'].astype(int)

df['p.e']=(df['price']/df['eps']).round(1)

In [13]:
#calculate market cap 
df['tedade_kole_saham']=pd.to_numeric(df['tedade_kole_saham'])
df['market_cap']=(df['price']*df['tedade_kole_saham'])

In [ ]:
# replace persian letters with arabic
df['ticker']=df['ticker'].str.replace("ي","ی")
df['ticker']=df['ticker'].str.replace("ك","ک")

In [15]:
# df.to_excel('market_watch.xlsx')
df

,tse_url,en_ticker,ticker,name,4,open,price,last,tedad,vol,...,base_vol,16,bazar_number,group_code,max_range,min_range,tedade_kole_saham,stock_code,p.e,market_cap
1,114312662654155,IRO3SAIZ0001,وسپهر,سرمايه گذاري مالي سپهرصادرات,64550,0,9597,9540,0,0,...,12000000,5062,2,56,10076.00,9118.00,30000000000,303,16.2,287910000000000
2,204092872752957,IRO3SDFZ0001,شصدف,صنعتي دوده فام,64550,0,43409,43531,0,0,...,361804,6084,2,44,45579.00,41239.00,700000000,303,26.2,30386300000000
4,318005355896147,IRO7PFSP0001,فسا,پتروشيمي فسا,64552,0,1579,1580,0,0,...,6443299,2542,4,44,1626.00,1532.00,3486000000,309,1579.0,5504394000000
5,408934423224097,IRO1FRVR0001,فرآور,فرآوري‌موادمعدني‌ايران‌,63705,0,33770,33450,0,0,...,463679,3643,1,27,35450.00,32090.00,660000000,300,28.7,22288200000000
6,611986653700161,IRO3SBZZ0001,سبزوا,سيمان لار سبزوار,64550,0,3817,3819,0,0,...,3951528,4537,2,53,4007.00,3627.00,3757797579,303,9.0,14343513359043
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1026,71672399601682259,IRT3CSAF0001,ثروتم,صندوق س. ثروت آفرين پارسيان-س,64555,0,94338,94360,0,0,...,1,1505,2,68,103771.00,84905.00,50000000,305,inf,4716900000000
1028,71744682148776880,IRO1LSMD0001,ولصنم,ليزينگ‌صنعت‌ومعدن‌,63708,0,8150,8150,0,0,...,1884422,3385,1,58,8550.00,7750.00,2000000000,300,14.2,16300000000000
1029,71758511001096824,IRO3MINZ0001,غصينو,صنعتي مينو,64548,0,22748,22396,0,0,...,4000000,4321,2,42,23885.00,21611.00,10000000000,303,48.8,227480000000000
1030,71856634742001725,IRO1SEPK0001,سپ,پرداخت الكترونيك سامان كيش,63708,0,29640,30230,0,0,...,2000000,2893,1,72,31120.00,28160.00,5000000000,300,39.4,148200000000000
1031,71957984642204570,IRO7APTP0001,شپترو,پتروشيمي آبادان,64551,0,5250,5239,0,0,...,2208000,4071,4,44,5407.00,5093.00,5520000000,309,64.8,28980000000000